@use 'variables' as *;
@use 'sass:color';

.cta-section {
   background-color: $color-border;
   color: $color-text-primary;
   padding: 1.5rem 1.5rem 3rem;
   text-align: center;
   margin: 2rem 0 1rem;
   border-radius: 4px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

   h2 {
      font-size: clamp(1.25rem, 4vw, 1.75rem);
      margin-bottom: 1.5rem;
   }

   .cta-button {
      background-color: $color-accent;
      color: $color-text-primary;
      padding: 0.75rem 1.5rem;
      border-radius: 4px;
      font-weight: bold;
      text-decoration: none;
      transition: background-color 0.3s;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

      &:hover {
         background-color: color.scale($color-accent, $lightness: -10%);
      }
   }
}