
// Couleurs de Marque
$color-bg-light: #fffcf8; 
$color-bg-secondary: #f9f3ef; 
$color-border: #d2c1b6; 
$color-text-light: #456882; 
$color-text-primary: #1b3c53; 
$color-accent: #f4a261;

// Breakpoints pour le responsive
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;