@import '_variables';
@import '_404';
@import "_about";
@import '_contact';
@import '_footer';
@import '_header';
@import "_home";
@import "_thank-you";

*,
*::before,
*::after {
   box-sizing: border-box;
}

.layout {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

body {
   background-color: $color-bg-light;
   color: $color-text-primary;
   line-height: 1.6;
   font-family: sans-serif;
   /* Mettez la police de votre choix */
}

.main-footer {
   margin-top: auto; 
}