@use 'variables' as *;
@use '404' as page404;
@use 'about';
@use 'contact';
@use 'footer';
@use 'header';
@use 'home';
@use 'resourceCard';
@use 'resources';
@use 'thank-you' as merci;
@use 'cta';

*,
*::before,
*::after {
   box-sizing: border-box;
}

.layout {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

body {
   background-color: $color-bg-light;
   color: $color-text-primary;
   line-height: 1.6;
   font-family: 'Lato', sans-serif;
}

.main-footer {
   margin-top: auto; 
}