---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/_404.scss";
---

<BaseLayout title="Page non trouvée | ADS Gestion Financière">
	<main class="page-404">
		<section>
			<h1>Oops ! Page introuvable</h1>
			<p>La page que vous cherchez n’existe pas ou a été déplacée.</p>
			<a href="/" class="cta-button">Retour à l'accueil</a>
		</section>
	</main>
</BaseLayout>
