---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
	title="Accueil | ADS Gestion Financière"
	description="Votre partenaire financier dédié aux travailleurs autonomes et professionnels de la beauté. Expertise et services personnalisés."
	>
	<main>
		<h1>Bienvenue chez ADS Gestion Financière</h1>
		<p>Le contenu de votre page d'accueil...</p>
	</main>
</BaseLayout>
