---
import "../styles/global.scss";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
	title: string;
	description?: string;
}

const {
	title = "ADS Gestion Financière",
	description = "Votre partenaire financier pour travailleurs autonomes.",
} = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#1b3c53" />
		<link rel="icon" type="image/png" href="/favicon_ADS.png" />

		<title>{title}</title>
		<meta name="description" content={description} />

		<!-- Google Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
			rel="stylesheet"
		/>
		<!-- reCAPTCHA -->
		<script
			src="https://www.google.com/recaptcha/enterprise.js?render=6LeLRNorAAAAADCICl8BN52t6AfwSnycn9849P7R"
		></script>
	</head>
	<body class="layout">
		<Header />
		<main class="content">
			<slot />
		</main>
		<Footer />
	</body>
</html>
